body {
    padding-top: 80px; 
    padding-bottom: 40px; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

.blog-container {
    flex-grow: 1; /* Faz com que o conteúdo do blog ocupe o espaço disponível */
    margin-bottom: 40px; /* Garante espaçamento extra na parte inferior */
}

.hero {
    padding: 80px 20px; 
    text-align: center;
}


